body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    color: #161616;
    background-color: #f5f5f5;
}

header {
    background-color: #f5f5f5;
    color: #000000;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px;
}

nav a {
    color: #7ccaf8;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5
}

.content {
    background-color: #f5f5f5
}

.content h2 {
    color: #000000;
}

.content p {
    color: #161616;
}

.hidden {
    position: relative;
}

#hidden-link {
    display: inline;
    color: #f5f5f5;
}

footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    /* This keeps it at the bottom */
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    /* Light gray background */
    border-top: 1px solid #ddd;
    /* Subtle top border */
}